<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ok_ist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".practice_info"></activity>
        <activity android:name=".order_menu" />
        <activity android:name=".order_brand" />
        <activity android:name=".order" />
        <activity android:name=".theory_configuration" />
        <activity android:name=".theory_kind" />
        <activity android:name=".theory_what" />
        <activity android:name=".practice" />
        <activity android:name=".learn_menu" />
        <activity android:name=".theory" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>